<ion-content>
  <div class="page_wrapper">
   
    <form action="">
      <!-- Reset Email/Password -->
      <div  class="card animate__animated animate__swing animate__delay-1s" *ngIf="!username" >
        <div>
          <span class="title">Credential Details</span>
        </div>

        <span class="title subtitle">Hey, Enter you details to get your account Credential</span>
        <div class="card item">
        <ion-item>
          <ion-label position="floating">Mobile Number</ion-label>
          <ion-input placeholder="Enter mobile number"  [(ngModel)]="mobileNo" maxlength="10" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Date of Birth</ion-label>
          <ion-input placeholder="Enter date of birth" [(ngModel)]="dob" type="date" [max]="validatorService.currentDate()" [min]="validatorService.minDate()" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        </div>
        <div class="dflex">
          <div class="txt"  *ngIf="!username" (click)="loginRedirection()">Remember your Credentials?</div>
        </div>
        <ion-button class="myBtnz" expand="block" [ngClass]="checkevent() ? 'act' : ''" (click)="showCredentials()" *ngIf="!username">Proceed</ion-button>
      </div>
      <!-- Reset Email End -->

      <div  class="card animate__animated animate__swing animate__delay-1s" *ngIf="username" >
        <div>
          <span class="title">Credential Details</span>
        </div>

        <span class="title subtitle">Hey, Here are your account Credential. Please remember!</span>
        <div class="card item">
        <ion-item>
          <ion-label>Username : </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Password : </ion-label>
        </ion-item>
        </div>
              
      <ion-button class="myBtnz" expand="block"  (click)="showCredentials()" *ngIf="username" (click)="loginRedirection()">Login</ion-button>
      </div>


     
    </form>

  </div>

</ion-content>